<section id="section1">

	<div class="uk-block-muted">
		<div class="uk-width-small-1-1 uk-width-medium-1-1 uk-large-1-1 uk-width-xl-1-1">
			<div class="uk-panel">	
				<div class="uk-slidenav-position uk-position-relative" data-uk-slideshow="{autoplay:true,autoplayInterval:5000}">	
					<ul class="uk-slideshow uk-slideshow-fullscreen uk-viewport-height"data-uk-slideshow>
						<li class="uk-active uk-responsive-height">
						    <div class="uk-cover-background uk-position-cover" style="background-image: url('images/padlocks.jpg')"></div>
						    	<img src="/images/padlocks.jpg" alt="padlocks.jpg">
								<div class="uk-overlay-panel uk-flex uk-flex-center uk-flex-middle uk-text-center">
						        	<div class="uk-margin">
							        	<img src ="/images/ScryberLogo.png">
							        		<p>Analyzes your security framework</p>
							        </div>
							    </div>
						</li>

						<li>
							<div class="uk-cover-background uk-position-cover" style="background-image: url('images/image1.jpeg')"></div>
							<img src="/images/image1.jpeg" alt="image1.jpeg">
				        		<div class="uk-overlay-panel uk-flex uk-flex-center uk-flex-middle uk-text-center">							  	<div class="uk-margin">
									 		<img src ="/images/ScryberLogo.png">
									 			<p> Creates your cybersecurity documentation</p>
								    	</div>
								</div>
						</li>

						<li>
							<div class="uk-cover-background uk-position-cover" style="background-image: url('images/image2.jpeg')"></div>
								<img src="/images/image2.jpeg" alt="image2.jpeg">
									<div class="uk-overlay-panel uk-flex uk-flex-center uk-flex-middle uk-text-center">
										<div class="uk-margin">
										 	<img src ="/images/ScryberLogo.png">
										 	<p>Updates with your changing requirements</p>
										</div>
									</div>

						</li>
					</ul>	
					
									<a href="" class="uk-slidenav uk-slidenav-contrast uk-slidenav-previous" data-uk-slideshow-item="previous"></a>
									<a href="" class="uk-slidenav uk-slidenav-contrast uk-slidenav-next" data-uk-slideshow-item="next"></a>
										<div class="uk-overlay-panel uk-overlay-bottom">	
											 <ul class="uk-dotnav uk-dotnav-contrast uk-position-bottom uk-flex-center">
											        <li data-uk-slideshow-item="0" class="uk-active"><a href="">image1.jpeg</a></li>
											        <li data-uk-slideshow-item="1"><a href="">image.png</a></li>
											        <li data-uk-slideshow-item="2"><a href="">image2.jpeg</a></li>
								    		  </ul>
			    						</div>	
						</div>
			</div>		
	</div>

		<div class="uk-overlay-panel uk-overlay-top">
					<div class="uk-sticky-placeholder">
						<nav class="uk-navbar">
							<img src="/images/ScryberLogo.png" alt="Demo">
								<div class="uk-navbar-flip uk-hidden-notouch">
							   		<ul class="uk-navbar-nav">
								        <li><a href="#my-id"  data-uk-offcanvas>
								        	<i class="uk-icon-navicon uk-icon-large clickable" data-uk-offcanvas="{target:'#my-id'}"></i></a>
								       	</li>
							    	</ul>
								</div>

						    	<div id="my-id" class="uk-offcanvas">
							    	<div class="uk-offcanvas-bar  uk-offcanvas-bar-flip">
							    	<ul>
								 		<li><a href="#section1">Home</li>
								 		<li><a href="#section2"data-uk-smooth-scroll>About</a></li>
								 		<li><a href="#section3"data-uk-smooth-scroll>What We Do</a></li>
								 		<li><a href="#section4"data-uk-smooth-scroll>Pricing</a></li>
								 		<li><a href="#contact"data-uk-smooth-scroll>ContactUs</a></li>
				 					</ul>
							    	</div>
								</div>
						</nav>
					</div>
		
	</div>
	{{!-- </div>	 --}}
	
</section>


<section id="section2">
	<div class="uk-container uk-container-center">
		<div class="uk-grid">
			<div class="uk-width-large-1-2 uk-width-small-1-1 uk-width-medium-1-1">
				<ul>
					<li>
						<div class="uk-margin-meduim">
							<img src="/images/wordcloud.jpg">
						</div>
					</li>
				</ul>
			</div>

				<div class="uk-width-large-1-2 uk-width-small-1-1 uk-width-small-1-1">
					<div class="uk-margin-medium">
						<h3>What We Do</h3>
						<p align="justify"> 
						Scrybersecurity specializes in crafting cybersecurity documentation and providing cybersecurity consulting. Whether it's an investor meeting, a board meeting, or a stringent outside auditor you need to prepare for, we are ready to produce work tailored to your business objectives and compliance needs.
						<br>
						<br>
						This is our number one priority—and our only service.  
						We are not a technology company or another generalist firm tacking this on to a large list of existing services. Instead, we focus on delivering high-quality work product in a niche area to fulfill your cybersecurity goals in a targeted, professional way.
						<br>
						<br>
						We’re always available to come on-site from start to finish. Turn around times are attentive to your deadlines, and the work is an iterative process that allows you to make sure the deliverable produced is customized exactly to your requirements and considerations. 
						<br>
						
						</p>	
				</div>

		</div>	
		</div>
  </div>
</section>

<section id="section3">
		{{!--  BOX1  --}}
		<ul class="uk-grid uk-grid-collapse uk-grid-margin">
			<li class="uk-width-large-1-3 uk-width-medium-1-3  ">
				<div class="uk-panel">
					<figure class="uk-overlay uk-overlay-hover" style="">
					{{!-- <div class="image"> --}}
					    <img src="/images/1.png" >
					    <h2> Vendor Risk Assessment </h2>
					{{!-- </div> --}}
					    <div class="uk-overlay-panel uk-overlay-background uk-overlay-fade uk-flex uk-flex-column uk-flex-center">
					   		
					   		 <p align="center">We conduct a tailored diligence of your vendors and provide you with a clean summary outlining any issues to remediate, as well as a detailed analysis for your records.
							 </p>
							
								 <h3 align="right"class="uk-position-bottom"><a href="#contact"data-uk-smooth-scroll>get more details</a>
</h3>							
						</div>
					</figure>	
				</li>	
			</li>	
			{{!-- BOX2 --}}
			<li class="uk-width-large-1-3 uk-width-medium-1-3 ">
				<div class="uk-panel">
					<figure class="uk-overlay uk-overlay-hover">
						<div class="image">
					    <img src="/images/2.png">
			
					    <h2> Policy Sets </h2>
					</div>
					    <div class="uk-overlay-panel uk-overlay-background uk-overlay-fade uk-flex uk-flex-center uk-flex-column">
					    	
					    	<p align="center">this service does all the work for you. Policy sets are crafted to fit your business and can include policies like Security Awareness Training, Incident Response, and HR Security, for example. 
							</p>
							 <h3 align="right"class="uk-position-bottom"><a href="#contact"data-uk-smooth-scroll>get more details</a>
							
					    </div>	
					</figure>	
				</div>	
			</li>	

			{{!-- BOX3 --}}
			<li class="uk-width-large-1-3 uk-width-medium-1-3 ">	
				<div class="uk-panel">
					<figure class="uk-overlay uk-overlay-hover">
						<div class="image">
					    	<img src="/images/4.png">
					    	<h2> Comprehensive Risk Assessment</h2>
					    </div>	
							<div class="uk-overlay-panel uk-overlay-background uk-overlay-fade uk-flex uk-flex-center uk-flex-column">
					    	
								<p align="center">
									This is an end to end approach that identifies weaknesses and areas needing improvement.
									<br>
									The offering includes: 
									<br>
								</p>
					    		 <ol>
						    		 <li> Comprehensive documentation; 
						    		 <li> A detailed outline of your cybersecurity standing; and 
						    		 <li>Action items setting you up for the next year. 
					    		 </ol>
					    		<h3 align="right"class="uk-position-bottom"><a href="#contact"data-uk-smooth-scroll>get more details</a>
					    	</div>
					</figure>	
				</div>	
			</li>
		</ul>
			{{!-- BOX4 --}}
		<ul class="uk-grid uk-grid-collapse uk-margin-top-remove">
			<li class="uk-width-large-1-3 uk-width-medium-1-3">
				<div class="uk-panel">
					<figure class="uk-overlay uk-overlay-hover">
						<div class="image">
						    <img src="/images/3.png">
						    <h2>Ongoing Maintenance</h2>
						  </div>
						  <div class="uk-overlay-panel uk-overlay-background uk-overlay-fade uk-flex uk-flex-center uk-flex-column">
					  
					    	<p align="center">
					    		We deal with your updates to all policies, all the time. When you see yet another memo from your relevant regulatory body, we’re there to make sure your documentation keeps up. 
					    	</p>
					    	 <h3 align="right"class="uk-position-bottom"><a href="#contact"data-uk-smooth-scroll>get more details</a>
					    	
					    </div>
					</figure>	
				</div>	
			</li>	
			{{!-- BOX5 --}}
			<li class="uk-width-large-1-3 uk-width-medium-1-3 ">
				<div class="uk-panel">
					<figure class="uk-overlay uk-overlay-hover">
						<div class="image">
					    	<img src="/images/5.png">
					    	<h2>Survey Management </h2>
					    </div>
					    	<div class="uk-overlay-panel uk-overlay-background uk-overlay-fade uk-flex uk-flex-center uk-flex-column">
					   
					    	<p align="center">
					    		 Tired of answering survey after survey that seem to be just different enough from each other to cause a hassle? Let us do the leg work. Just hit approve. 
					    	</p>
					    	 <h3 align="right"class="uk-position-bottom"><a href="#contact"data-uk-smooth-scroll>get more details</a>
					  
					 </div>
					</figure>	
				</div>	
			</div>	

			{{!-- BOX6 --}}
			<li class="uk-width-large-1-3 uk-width-medium-1-3 ">
				<div class="uk-panel">
					<figure class="uk-overlay uk-overlay-hover">
						<div class="image">
					  	  <img src="/images/6.png	">
					  	  	<h2>Custom Security Work</h2>
					  	 </div>
					   		 <div class="uk-overlay-panel  uk-overlay-background uk-overlay-fade uk-flex uk-flex-center uk-flex-column">
					     	
					     		<p align="center">
					     			 Can’t find what you need? Because all we do is cybersecurity documentation, we are prepared and happy to discuss more specific options perfectly tailored to the needs of your company. 
	
					     		</p>
					     
					     			 <h3 align="right"class="uk-position-bottom"><a href="#contact"data-uk-smooth-scroll>get more details</a>
					    </div>
					</figure>	
				</div>	
			</li>	
		</ul>

</div>
</section>

<section id="section4">
	<div class="uk-container uk-container-center">
		<div class="uk-panel uk-text-center">
    	 	<h3 class="uk-panel-title">Pricing Options</h3>
  		</div>
  			<ul class="uk-grid uk-grid-divider data-uk-grid-margin uk-flex">
  				<li class="uk-width-small-1-1 uk-width-medium-1-2 uk-width-large-1-4 uk-width-xl-1-4 uk-text-center" >
	  				<div data-uk-scrollspy="{cls:'uk-animation-scale-up', repeat: true}" style="min-height: 338px;">
	  				  <div class="uk-margin">
	  				  	<div>
	  				  		<h3>Basic</h3>
	  				  	</div>

		  				  	<div>
		  				  	<h2> Starting at</h2><h2 class="price"><sup>$</sup>1,650</h2>
		  					</div>
			  					<div>
		  							<p class="pricing">One time fee covers Vendor Risk Assessment (under 20 vendors) or Policy Sets (under 4 policies).</p>
		  						</div>

			  				
	  				  </div>
	  				</div>
	  			</li>
  			
  				<li class="uk-width-small-1-1 uk-width-medium-1-2 uk-width-large-1-4 uk-width-large-1-4 uk-width-xl-1-4 uk-text-center">
	  				<div data-uk-scrollspy="{cls:'uk-animation-scale-up', repeat: true}" style="min-height: 338px;">
			  				<div>
			  					<h3>Comprehensive</h3>
			  				</div>

				  			<div>
			  					<h2>starting at</h2><h2 class="price"><sup>$</sup>3,500</h2>
			  				</div>
			  			
		  					<div>
			  					<p>One time fee covers Vendor Risk Assessment (under 50 vendors), Policy Sets (under 6 policies), Comprehensive Risk Assessment or  small to medium Custom Security Work projects. 
			  					</p>
			  				</div>
		  			</div>		
	  			</li>

	  			<li class="uk-width-small-1-1 uk-width-medium-1-2 uk-width-large-1-4 uk-width-large-1-4 uk-width-xl-1-4 uk-text-center">
	  				<div data-uk-scrollspy="{cls:'uk-animation-scale-up', repeat: true}" style="min-height: 338px;">
		  					<div >
		  						<h3>Advanced</h3>
		  					</div>

		  					<div>
		  						<h2>Starting At</h2>
		  						<h2 class="price"><sup>$</sup>7,500</h2>
		  					</div>
		  						
		  					<div>
			  					<p class="pricing">One time fee covers larger Custom Security Work projects and expedited or urgent requests. 
			  					</p>
				  			</div>

			  				
	  				</div>
				</li>
	  			
	  			<li class="uk-width-small-1-1 uk-width-medium-1-2 uk-width-large-1-4 uk-width-large-1-4 uk-width-xl-1-4 uk-text-center">	
	  				<div data-uk-scrollspy="{cls:'uk-animation-scale-up', repeat: true}" style="min-height: 338px;">

		  					<div>
		  						<h3>Ongoing</h3>
		  					</div>

		  					<div>
		  						<h2>Starting at</h2> <h2 class="price"><sup>$</sup>100<sub>/mo<sub></h2>
		  					</div>
		  					
		  					<div>
		  						<p>Monthly fee (determined based on quantity) covers responding to surveys, updating policies, and ongoing custom security work.
				  				</p>
				  			</div>	
		  			</div>
	  			</li>
  			</ul>

  				<div class="uk-flex uk-flex-center">
  					<button class="uk-button uk-button-large uk-button-primary"><a href="#contact"data-uk-smooth-scroll>
  						Learn More
  					</a></button>
  				</div>
  		</div>	
</section>



<section id="contact">
	<div class="uk-container uk-container-center">
		<div class="uk-block uk-block-default uk-block-large">
		
			<div class="uk-grid uk-grid-small uk-grid-medium uk-grid-large data-uk-grid-margin">
				<div class="uk-width-small-1-1 uk-width-meduim-1-1 uk-width-large-1-1 uk-width-xl-1-1">
					<article class="uk-article">
						<div class="uk-text-center">
							<h1 class="uk-heading-large uk-headingsmall uk-heading-medium">Get Started Now</h1>
							{{!-- <p class="panel-subtitle uk-width-meduim- 2-3">
								Sample Sentence
							</p> --}}
						</div>	
					</article>	
				</div>		
			</div>

			<div class="uk-grid">
				<div class="uk-width-small-1-1 uk-width-large-1-3">
					<div class="get-in-touch-wrap">
						<h3>Give us a few details about what you need!</h3>
						<p>You can fill in the contact form on the right. The more information you provide, the quicker we can get started on your work. </p>

						<p class="uk-margin-large">Or if you prefer, call us anytime.<br>
							646-883-5557 
					
						</p>

						{{!-- <ul>
							<li>
								<a href="#" class="uk-icon-hover uk-icon-small uk-icon-facebook"></a>
							
								<a href="#" class="uk-icon-hover uk-icon-small uk-icon-twitter"></a>
							
								<a href="#" class="uk-icon-hover uk-icon-small uk-icon-pinterest"></a>
							
								<a href="#" class="uk-icon-hover uk-icon-small uk-icon-google-plus"></a>
							
								<a href="#" class="uk-icon-hover uk-icon-small uk-icon-instagram"></a>
							</li>
						</ul> --}}
					</div>
				</div>

				<div class="uk-width-small-1-1 uk-width-large-2-3">
					<form id="frmContact" class="uk-form">
							
						<div class="uk-form-row">
							<input id="name" type="text" placeholder="Name" class="uk-width-1-1">
						</div>
						<div class="uk-form-row">
							<input id="number" type="number" placeholder="Phone Number" class="uk-width-1-1">
						</div>
						<div class="uk-form-row">
							<input id="email" placeholder="Email" class="uk-width-1-1">
						</div>

						<div class="uk-form-row">
							<textarea id="needed" rows="4" cols="4" placeholder="What You Need (what services interest you, questions you have, list  of regulatory bodies or audit firms relevant to you, or just a time frame for us to schedule a call with you.)" class="uk-width-1-1"></textarea>
						</div>
							<div>
								<p>Your Project Deadline</p>
							</div>
						<div class="uk-form-row">
							<input id="date" type="date" placeholder="Deadline for What I Need (if any):" class="uk-width-1-1">
						</div>

						<div class="uk-form-row">
							{{!-- <div class="uk-width-small uk-flex uk-flex-center"> --}}
							<div class="uk-flex uk-flex-center uk-align-medium-left">
								<button type="submit" class="uk-button uk-button-large uk-button-primary">
									Submit Messsage
								</button>
							</div>
							{{!-- </div> --}}
						</div>		
						
					</form>	
				</div>	
			</div>	
				

			
		</div>
				<div class= "uk-grid uk-grid-small uk-grid-medium uk-grid-large">
					<div class="uk-width-1-1">	
					<p>Copyright © 2016 Scrybersecurity LLC. All rights reserved. </p>
					</div>
				</div>


	</div>
</section id="section">




<script type="text/javascript">
	var frmContact = document.getElementById('frmContact');
	console.log('Form Contact:',frmContact);
	function validateEmail(email) {
	    var re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
	    return re.test(email);
	}

	frmContact.addEventListener('submit', function(evt){
	    evt.preventDefault();
	  	let email = document.getElementById('email').value;
	  	let name = document.getElementById('name').value;
	  	let number = document.getElementById('number').value;
	  	let needed = document.getElementById('needed').value;
	  	let date = document.getElementById('date').value;
	  	if(!validateEmail(email)){
	  		alert('Invalid Email, Try Again');
	  	}	
	  	console.log('Name:',name);
	  	console.log('Number:',number);
	  	console.log('Email:',email);
	  	console.log('Needed:',needed);
	  	console.log('Date:',date);
	  	
	  	let contactData = {
	  		name,number,email,needed,date
	  	}




	  	var xhr = new XMLHttpRequest();
        url = "contact";
	      xhr.open("POST", url, true);
	      xhr.setRequestHeader("Content-Type", "application/json; charset=UTF-8");
	      xhr.send(JSON.stringify(contactData));

      xhr.onreadystatechange = function() {
        console.log(xhr);
        if(xhr.readyState == 4){
          if (xhr.status == 200) {
			 window.location.replace('thankyou');
            }else{
				alert('Error, please try again');
            }  
        }
        
      };


	});

</script>




	