<section id="bento"> 
	<div class="uk-container uk-container-center">
		<nav class="uk-navbar">
			<img src="/images/darklogo1.png" alt="Demo">
			<div class="uk-navbar-flip">
			<ul>
				<li>
    				<a href="my-id" data-uk-offcanvas></a>
					<i class="uk-icon-navicon uk-icon-medium" data-uk-offcanvas="{target:'my-id'}"></i>
				</li>
			</ul>
			</div>

		</nav>


				
				<div id="my-id" class="uk-offcanvas">
				<a href="#offcanvas" class="uk-offcanvas-bar uk-offcanvas-bar-flip tm-navbar-toggle uk-visible-small" data-uk-offcanvas=""></a>
		{{!--  <div class="uk-offcanvas-bar uk-offcanvas-bar-flip"> --}}
		 	<ul>
		 		<li>Home</li>
		 		<li>Features</li>
		 		<li>Pages</li>
		 		<li>Zoo</li>
		 		<li>Search</li>
		 	</ul>
		 		</div>
			    
	    <div class="banner-caption">				
		<figure class="uk-overlay">
			<figcaption class="uk-overlay-panel uk-flex uk-flex-center uk-flex-middle uk-text-center">
				<div class= "uk-margin">
		        	<p>WELCOME TO</p>
					<h1>BENTO SPORTS</h1>
					<p>OUR FAVORITE FITNESS EXPERIENCE</p>
				</div>
			</figcaption>
		</figure>
		</div>
	</div>
</section>


<section id="bento2">
	<div class="uk-container uk-container-center">

	<div class="uk-grid">
		<div class="uk-width-1-2">
			<ul id="myid" class="uk-switcher">
				<li>

				<div class="image-wrapper">
					<img src="https://yootheme.com/demo/themes/joomla/2015/bento/images/yootheme/demo/default/home_switcher_top_a.png" class="uk-overlay-scale" alt="Bento Watch App">
				</div>

				</li>
			</ul>
		</div>

		<div class="uk-width-1-2">
			<div class="text-wrapper">
				<h3>Bento Watch App</h3>
			</div>

			<ul data-uk-switcher="{connect:'#myid'}">
			<div class="uk-grid uk-grid-collapse">
	    		<li class="uk-width-1-3">
	    			<a href= "https://yootheme.com/demo/themes/joomla/2015/bento/">
	    			<img src="https://yootheme.com/demo/themes/joomla/2015/bento/media/widgetkit/home_switcher_top_a-55cb8b4eb7e155f6c9003af6e9ca9b99.png">
					</a>
				</li>
			
			
				<li class="uk-width-1-3" aria-expanded="false">
					<a href= "https://yootheme.com/demo/themes/joomla/2015/bento/">
	    			<img src="https://yootheme.com/demo/themes/joomla/2015/bento/media/widgetkit/home_switcher_top_a_red-0737d60263c7c4f0b8aaf9a4ae21c66f.png">
					</a>
			   	</li>

			   <li class="uk-width-1-3" aria-expanded="false">
					<a href= "https://yootheme.com/demo/themes/joomla/2015/bento/">
	    			<img src="https://yootheme.com/	demo/themes/joomla/2015/bento/media/widgetkit/home_switcher_top_a_blue-9595d8adc0e05719224be31b9f290a01.png">
					</a>
			   </li>

			   </div>
			</ul>
			
		</div>
	</div>
</div>
</section>

<section id="section3">
	
		<ul class="uk-grid uk-grid-collapse uk-grid-margin">
			<li class="uk-width-1-3 ">
				<div class="uk-panel" style="min-height: 463px;">
					<figure class="uk-overlay uk-overlay-hover">
					    <img src="https://yootheme.com/demo/themes/joomla/2015/bento/images/yootheme/demo/default/home_gallery_1.jpg">
					    <figcaption class="uk-overlay-panel  uk-overlay-background uk-overlay-fade">HELLO</figcaption>
					</figure>	
				</li>	
			</li>	

			<li class="uk-width-1-3">
				<div class="uk-panel" style="min-height: 463px;">
					<figure class="uk-overlay uk-overlay-hover">
					    <img src="https://yootheme.com/demo/themes/joomla/2015/bento/images/yootheme/demo/default/home_gallery_1.jpg">
					    <figcaption class="uk-overlay-panel uk-overlay-background uk-overlay-fade ">HELLO</figcaption>
					</figure>	
				</div>	
			</li>	


			<li class="uk-width-1-3">	
				<div class="uk-panel" style="min-height: 463px;">
					<figure class="uk-overlay uk-overlay-hover">
					    <img src="https://yootheme.com/demo/themes/joomla/2015/bento/images/yootheme/demo/default/home_gallery_1.jpg" alt="">
					    <figcaption class="uk-overlay-panel  uk-overlay-background uk-overlay-fade">HELLO</figcaption>
					</figure>	
				</div>	
			</li>
		</ul>

		<ul class="uk-grid uk-grid-collapse uk-margin-top-remove">
			<li class="uk-width-1-3 ">
				<div class="uk-panel" style="min-height: 463px;">
					<figure class="uk-overlay uk-overlay-hover">
					    <img src="https://yootheme.com/demo/themes/joomla/2015/bento/images/yootheme/demo/default/home_gallery_1.jpg">
					    <figcaption class="uk-overlay-panel  uk-overlay-background uk-overlay-fade">HELLO</figcaption>
					</figure>	
				</div>	
			</li>	

			<li class="uk-width-1-3">
				<div class="uk-panel" style="min-height: 463px;">
					<figure class="uk-overlay uk-overlay-hover">
					    <img src="https://yootheme.com/demo/themes/joomla/2015/bento/images/yootheme/demo/default/home_gallery_1.jpg">
					    <figcaption class="uk-overlay-panel uk-overlay-background uk-overlay-fade ">HELLO</figcaption>
					</figure>	
				</div>	
			</div>	


			<li class="uk-width-1-3">
				<div class="uk-panel" style="min-height: 463px;">
					<figure class="uk-overlay uk-overlay-hover">
					    <img src="https://yootheme.com/demo/themes/joomla/2015/bento/images/yootheme/demo/default/home_gallery_1.jpg">
					    <figcaption class="uk-overlay-panel  uk-overlay-background uk-overlay-fade">HELLO</figcaption>
					</figure>	
				</div>	
			</li>	
		</ul>

</div>
</section>

<section id="section4">
	<div class="uk-container uk-container-center">
		<div class="uk-panel uk-text-center">
    	 	<h3 class="uk-panel-title">Pricing Options</h3>
  		</div>
  			<ul class="uk-grid uk-grid-divider data-uk-grid-margin uk-flex">
  				<li class="uk-width-small-1-4 uk-width-meduim-1-4 uk-width-large-1-4 uk-width-large-1-4 uk-width-xl-1-4 uk-text-center" >
	  				<div data-uk-scrollspy="{cls:'uk-animation-scale-up', repeat: true}" style="min-height: 338px;">
	  				  <div class="uk-margin">
	  					<h2 class="price"><sup>$</sup>
	  					10</h2>
	  					<h3>Basic</h3>
		  					<p>This is a sample sentence.
		  					<br class="uk-visible-medium uk-visible-large">This is a paragraph.
		  					<br class="uk-visible-medium uk-visible-large">This is Basic.</p>
		  						<button class="uk-button uk-	button-primary">Click
		  						</button>
	  				  </div>
	  				</div>
	  			</li>
  			
  				<li class="uk-width-small-1-4 uk-width-meduim-1-4 uk-width-large-1-4 uk-width-large-1-4 uk-width-xl-1-4 uk-text-center">
	  				<div data-uk-scrollspy="{cls:'uk-animation-scale-up', repeat: true}" style="min-height: 338px;">
	  					<h2 class="price"><sup>$</sup>
	  					10</h2>
	  					<h3>Comprehensive</h3>
		  					<p>This is a sample sentence.
		  					<br class="uk-visible-medium uk-visible-large">This is a paragraph.
		  					<br class="uk-visible-medium uk-visible-large">This is Comprehensive.</p>
		  					<button class="uk-button uk-	button-primary">Click
		  						</button>
	  				</div>
	  			</li>

	  			<li class="uk-width-small-1-4 uk-width-meduim-1-4 uk-width-large-1-4 uk-width-large-1-4 uk-width-xl-1-4 uk-text-center">
	  				<div data-uk-scrollspy="{cls:'uk-animation-scale-up', repeat: true}" style="min-height: 338px;">
	  					<h2 class="price"><sup>$</sup>
	  					10</h2>
	  					<h3>Advanced</h3>
			  					<p>This is a sample sentence.
			  					<br class="uk-visible-medium uk-visible-large">This is a paragraph.
			  					<br class="uk-visible-medium uk-visible-large">This is Advanced.</p>
			  					<button class="uk-button uk-	button-primary">Click
		  						</button>

	  				</div>

	  			</li>
	  			
	  			<li class="uk-width-small-1-4 uk-width-meduim-1-4 uk-width-large-1-4 uk-width-large-1-4 uk-width-xl-1-4 uk-text-center">	
	  				<div data-uk-scrollspy="{cls:'uk-animation-scale-up', repeat: true}" style="min-height: 338px;">
	  					<h2 class="price"><sup>$</sup>
	  					10</h2>
	  					<h3>Expedited</h3>
	  						<p>This is a sample sentence.
			  					<br class="uk-visible-medium uk-visible-large">This is a paragraph.
			  					<br class="uk-visible-medium uk-visible-large">This is Expedited.</p>
			  					<button class="uk-button uk-	button-primary">Click
		  						</button>
		  			</div>
	  			</li>
  			
  			
  			
  			</ul>
  	</div>
</section>





	