<section id="bento"> 
	<div class="uk-container uk-container-center">
		<nav class="uk-navbar">
			<img src="/images/darklogo1.png" alt="Demo">
			<div class="uk-navbar-flip">
			<ul>
				<li>
    			<a href="#overlay-my-id" data-uk-offcanvas>
					<i class="uk-icon-navicon uk-icon-medium" data-uk-offcanvas="{target:'#overlay-my-id'}"></i>
				</li>
			</ul>
			</div>

		</nav>


		<a href="#offcanvas" class="uk-navbar-toggle tm-navbar-toggle uk-visible-small" data-uk-offcanvas=""></a>
		<div id="my-id" class="uk-offcanvas">
		<a href="#offcanvas" class="uk-offcanvas-bar uk-offcanvas-bar-flip tm-navbar-toggle uk-visible-small" data-uk-offcanvas=""></a>
		{{!--  <div class="uk-offcanvas-bar uk-offcanvas-bar-flip"> --}}
		 	<ul>
		 		<li>Home</li>
		 		<li>Features</li>
		 		<li>Pages</li>
		 		<li>Zoo</li>
		 		<li>Search</li>
		 	</ul>
		 </div>
			    
	    <div class="banner-caption">				
		<figure class="uk-overlay">
			<figcaption class="uk-overlay-panel uk-flex uk-flex-center uk-flex-middle uk-text-center">
				<div class= "uk-margin">
		        	<p>WELCOME TO</p>
					<h1>BENTO SPORTS</h1>
					<p>OUR FAVORITE FITNESS EXPERIENCE</p>
				</div>
			</figcaption>
		</figure>
		</div>

		

	</div>
</section>

	