<section id="bento"> 
	<div class="uk-container uk-container-center">
		<nav class="uk-navbar">
			<img src="http://yootheme.com/demo/themes/joomla/2015/bento/images/yootheme/demo/default/logo_sticky.svg" alt="Demo">
				<div class="uk-navbar-flip">
        			<li>
	        			<a href="">
	        			<i class="uk-icon-navicon uk-icon-medium"></i>
        				</a>
        			</li>
    			</div>
			</nav>	
				<figure class="uk-overlay">
					<figcaption class="uk-overlay-panel uk-flex uk-flex-center uk-flex-middle uk-text-center">
						<div class= "uk-margin">
				        	<p> WELCOME TO</p>
							<h1> BENTO SPORTS</h1>
							<p> YOUR FAVORITE FITNESS EXPERIENCE</p>


						</div>

				    </figcaption>
				</figure>
	</div>
</section>
	