<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Melon Sci Fi | Hong Kong</title>
    <link rel="shortcut icon" href="https://d3qwsxrru4xs4k.cloudfront.net/favicon.ico" type="image/x-icon">

    <link href='/font/nove_normal/stylesheet.css' rel='stylesheet'>

    <link rel='stylesheet' href='/stylesheets/style.css'>
    <link rel="stylesheet" type="text/css" href="/stylesheets/uikit.min.css">

    <script src="/js/jquery.min.js"></script>
    <script src="/js/jquery-viewport.min.js"></script>
    <script src="/js/uikit.min.js"></script>
    <script src="/js/responsive.slides.min.js"></script>
    <style>

      @font-face { font-family: Klingon; src: url('../font/klingon/klingon.ttf'); } 
      .klingon {
        font-family: Klingon
      }
    </style>
  </head>
  
  <body>
    
    {{{body}}}
  
  </body>
</html>
