<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Melon Sci Fi | Hong Kong</title>
    <link rel="shortcut icon" href="https://djupwmfoj6mcw.cloudfront.net/favicon.ico?v7" type="image/x-icon">

<!--     <link href="https://fonts.googleapis.com/css?family=Roboto+Mono:700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Orbitron" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Covered+By+Your+Grace|Oswald:400,700|Roboto+Condensed" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet'> -->
    <link href='/font/nove_normal/stylesheet.css' rel='stylesheet'>

    <link rel='stylesheet' href='/stylesheets/style.css'>
    <link rel="stylesheet" type="text/css" href="/stylesheets/uikit.min.css">

    <script src="/js/jquery.min.js"></script>
    <script src="/js/jquery-viewport.min.js"></script>
    <script src="/js/uikit.min.js"></script>
    <script src="/js/responsive.slides.min.js"></script>
    <style>

      @font-face { font-family: Klingon; src: url('../font/klingon/klingon.ttf'); } 
      .klingon {
        font-family: Klingon
      }
    </style>
  </head>
  
  <body>
    
    {{{body}}}
  
  </body>
</html>
