<section  id="message">
	<div class="uk-container uk-container-center">
		<div class="grid">
			<div class="uk-width-small-1-1 uk-width-medium-1-1 uk-width-large-1-1">
				<div class="uk-overlay-top uk-flex uk-flex-center uk-flex-middle ">
				    <div class="image">
				    	Melon Hong Kong		
				    </div>
				</div>
				<h1 align="center">Thank you for contacting Us</h1>
				    	<p align="center"> We will get back to you shortly.
						</p>
				 <div class="back">
					<a href="/">Go Back</a>	
				</div>
			</div>
		</div>
	</div>
</section>