#bento{
	background-color: rgb(48, 61, 77);
	background-image: url('http://yootheme.com/demo/themes/joomla/2015/bento/images/yootheme/demo/default/home_slideshow_header_1.jpg');
	height: 800px;

	
	background-repeat: no-repeat;
	
    background-position: center; 

.uk-container {



	h1 {
		font-size: 75px;

	}

	p {


	}
	.uk-navbar{

		padding: 25px 40px;
		background-color: transparent;
		position: relative;

		img {
			max-width: 100%;
   			height: auto;
    		box-sizing: border-box;
    		border-image-source: initial;
    		border-image-slice: initial;
    		border-image-width: initial;
    		border-image-outset: initial;
    		border-image-repeat: initial;
    		border-width: 0px;
    		border-style: initial;
    		border-color: initial;
    		color: #fff;
		}

	.uk-navbar-flip {

				li {
					list-style-type: none;

					}
				i {

					color:	 #FFF;
			  	  }
				}

			}

	 .uk-overlay{
	 		position: absolute;
    		top: 0px;
    		bottom: 0px;
    		left: 0px;
    		right: 0px;
    		color: rgb(255, 255, 255);
    		padding: 20px;

	 	  p{
		 		font-family: Raleway, Helvetica, Arial, sans-serif;
	   			font-weight: 400;
	    		font-size: 24px;
	    		line-height: 28px;
	    		text-transform: uppercase;
	    		letter-spacing: 1px;
	    		margin: 0px !important;
    		}

    		h1{
    			 border-image-source: initial;
				 border-image-slice: initial;
				 border-image-width: initial;
				 border-image-outset: initial;
				 border-image-repeat: initial;
				 text-transform: uppercase;
				 letter-spacing: 1px;
				 margin: 15px 0px 18px;
				 padding: 35px 20px;
				 border-width: 3px;
				 border-style: solid;
				 border-color: rgb(255, 255, 255);


				}	

			.uk-margin{
				margin-top: -200px
			}



    		}

	 }
	
}


	#bento2{

		.uk-container{







		}

}