#message{
				.image{
				padding-top:70px;
				padding-bottom:70px;
				padding-left:100px;
				padding-right:100px;
				background-color:black;
				margin-top:100px;
				}

	.uk-container{


			img{
				background-color:#000000 ;
				width: 600px;
	    		height: auto;
	    		// margin-top: 100px;
	    		display: block;
		}
			h1{
				font-weight:600;
				font-family:novecento_sans_widenormal;	
		}
			p{
				font-family:novecento_sans_widenormal;
				font-size: 18px;
		}
			.back{
				text-align: center;
				font-size: 24px;
				margin-top: 40px;
				font-family:novecento_sans_widenormal;
				font-weight: 600;
		}
				link, a {
				    color: #000;
				    text-decoration: none;
				    cursor: pointer;
		}
	}}


// @media screen and (min-width: 768px)and (max-width: 960px) {
		
// 		#message{
// 			img{
// 				width: 400px;
// 	    		height: 150px;
// 			}

// 		}



// } 