/* line 1, sass/module/_landing.scss */
#bento {
  background-color: #303d4d;
  background-image: url("http://yootheme.com/demo/themes/joomla/2015/bento/images/yootheme/demo/default/home_slideshow_header_1.jpg");
  height: 800px;
  background-repeat: no-repeat;
  background-position: center; }
  /* line 15, sass/module/_landing.scss */
  #bento .uk-container h1 {
    font-size: 75px; }
  /* line 21, sass/module/_landing.scss */
  #bento .uk-container .uk-navbar {
    padding: 25px 40px;
    background-color: transparent;
    position: relative; }
    /* line 27, sass/module/_landing.scss */
    #bento .uk-container .uk-navbar img {
      max-width: 100%;
      height: auto;
      box-sizing: border-box;
      border-image-source: initial;
      border-image-slice: initial;
      border-image-width: initial;
      border-image-outset: initial;
      border-image-repeat: initial;
      border-width: 0px;
      border-style: initial;
      border-color: initial;
      color: #fff; }
  /* line 45, sass/module/_landing.scss */
  #bento .uk-container .uk-navbar-flip li {
    list-style-type: none;
    color: #FFF; }
  /* line 56, sass/module/_landing.scss */
  #bento .uk-overlay {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    color: white;
    padding: 20px; }
    /* line 65, sass/module/_landing.scss */
    #bento .uk-overlay p {
      font-family: Raleway, Helvetica, Arial, sans-serif;
      font-weight: 400;
      font-size: 24px;
      line-height: 28px;
      text-transform: uppercase;
      letter-spacing: 1px;
      margin: 0px !important; }
    /* line 75, sass/module/_landing.scss */
    #bento .uk-overlay h1 {
      border-image-source: initial;
      border-image-slice: initial;
      border-image-width: initial;
      border-image-outset: initial;
      border-image-repeat: initial;
      text-transform: uppercase;
      letter-spacing: 1px;
      margin: 15px 0px 18px;
      padding: 35px 20px;
      border-width: 3px;
      border-style: solid;
      border-color: white; }
    /* line 92, sass/module/_landing.scss */
    #bento .uk-overlay .uk-margin {
      margin-top: -200px; }

/* line 107, sass/module/_landing.scss */
#bento2 .uk-container li {
  list-style-type: none;
  color: #FFF; }
/* line 114, sass/module/_landing.scss */
#bento2 .uk-container h3 {
  font-family: "Raleway", Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 50px;
  line-height: 56px;
  margin-top: 200px;
  color: #2c3343;
  text-transform: none; }
/* line 126, sass/module/_landing.scss */
#bento2 .uk-container .uk-panel {
  display: block;
  position: relative; }
/* line 132, sass/module/_landing.scss */
#bento2 .uk-container .uk-flex-middle {
  align-items: center; }
/* line 136, sass/module/_landing.scss */
#bento2 .uk-container .uk-overlay-scale {
  transform: scale(1);
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
  transition-property: opacity, transform, filter; }
/* line 145, sass/module/_landing.scss */
#bento2 .uk-container img {
  max-width: 100%;
  height: auto;
  box-sizing: border-box;
  border: 0;
  vertical-align: middle; }
/* line 153, sass/module/_landing.scss */
#bento2 .uk-container .uk-width-large-1-2 {
  width: 50%; }
/* line 167, sass/module/_landing.scss */
#bento2 .uk-container .caption img {
  max-width: 100%;
  height: auto;
  box-sizing: border-box; }
/* line 174, sass/module/_landing.scss */
#bento2 .uk-container .caption .uk-active {
  padding-left: 10px;
  margin-top: 10px; }
/* line 180, sass/module/_landing.scss */
#bento2 .uk-container .caption li {
  list-style-type: none;
  color: #FFF; }

/* line 194, sass/module/_landing.scss */
#section3 {
  margin-top: -50px; }
  /* line 198, sass/module/_landing.scss */
  #section3 .uk-overlay {
    display: inline-block;
    position: relative;
    max-width: 100%;
    vertical-align: middle;
    overflow: hidden;
    margin: 0; }
  /* line 208, sass/module/_landing.scss */
  #section3 .uk-panel {
    display: block;
    position: relative; }

/* line 218, sass/module/_landing.scss */
#section4 sup {
  font-size: 32px;
  font-weight: 500;
  top: -1.9em;
  margin-right: -15px; }
/* line 224, sass/module/_landing.scss */
#section4 h3 {
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  text-align: center !important;
  margin-top: 50px;
  font-size: 30px; }
/* line 235, sass/module/_landing.scss */
#section4 .price {
  font-family: "Raleway", Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 120px;
  margin-top: 40px;
  margin-left: 15px; }
/* line 245, sass/module/_landing.scss */
#section4 .uk-panel-title {
  font-size: 50px;
  line-height: 56px;
  font-family: "Raleway", Helvetica, Arial, sans-serif;
  font-weight: 500;
  margin-top: 150px;
  margin-bottom: 150px; }
