/* line 10, sass/module/_landing.scss */
#bento .uk-offcanvas {
  width: auto; }
/* line 14, sass/module/_landing.scss */
#bento .uk-slideshow {
  position: relative; }
/* line 21, sass/module/_landing.scss */
#bento .images {
  max-width: 1000px; }
/* line 26, sass/module/_landing.scss */
#bento .uk-margin {
  width: 700px; }
/* line 31, sass/module/_landing.scss */
#bento .uk-navbar {
  padding: 20px 30px;
  background-color: transparent;
  position: relative; }
  /* line 37, sass/module/_landing.scss */
  #bento .uk-navbar img {
    width: 150px; }
/* line 43, sass/module/_landing.scss */
#bento .uk-navbar-flip li {
  list-style-type: none;
  color: #FFF; }

/* line 66, sass/module/_landing.scss */
#bento2 .uk-container p {
  font-family: Raleway, Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  padding-top: 20px;
  letter-spacing: 1px;
  margin: 0px !important;
  border-bottom-width: 20px;
  padding-bottom: 50px; }
/* line 77, sass/module/_landing.scss */
#bento2 .uk-container li {
  list-style-type: none;
  color: #FFF; }
/* line 84, sass/module/_landing.scss */
#bento2 .uk-container h3 {
  font-family: "Raleway", Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 50px;
  line-height: 56px;
  color: #2c3343;
  text-transform: none;
  padding-top: 80px; }
/* line 98, sass/module/_landing.scss */
#bento2 .uk-container .uk-panel {
  display: block;
  position: relative; }
/* line 104, sass/module/_landing.scss */
#bento2 .uk-container .uk-flex-middle {
  align-items: center; }
/* line 108, sass/module/_landing.scss */
#bento2 .uk-container .uk-overlay-scale {
  transform: scale(1);
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
  transition-property: opacity, transform, filter; }
/* line 117, sass/module/_landing.scss */
#bento2 .uk-container img {
  max-width: 100%;
  height: auto;
  box-sizing: border-box;
  border: 0;
  vertical-align: middle; }
/* line 133, sass/module/_landing.scss */
#bento2 .uk-container .caption img {
  max-width: 100%;
  height: auto;
  box-sizing: border-box; }
/* line 140, sass/module/_landing.scss */
#bento2 .uk-container .caption .uk-active {
  padding-left: 10px;
  margin-top: 10px; }
/* line 146, sass/module/_landing.scss */
#bento2 .uk-container .caption li {
  list-style-type: none;
  color: #FFF; }

/* line 162, sass/module/_landing.scss */
#section3 {
  margin-top: -50px; }
  /* line 166, sass/module/_landing.scss */
  #section3 .uk-overlay {
    display: inline-block;
    position: relative;
    width: 100%;
    vertical-align: middle;
    overflow: hidden;
    margin: 0;
    height: 100%; }
  /* line 176, sass/module/_landing.scss */
  #section3 .uk-panel {
    display: block;
    position: relative; }
  /* line 181, sass/module/_landing.scss */
  #section3 .image {
    position: relative;
    width: 100%; }
  /* line 186, sass/module/_landing.scss */
  #section3 img {
    width: 100%;
    height: 100%; }
  /* line 192, sass/module/_landing.scss */
  #section3 h2 {
    color: #FFFFFF;
    position: absolute;
    top: 45%;
    left: 0;
    text-align: center;
    width: 100%; }
  /* line 200, sass/module/_landing.scss */
  #section3 .uk-overlay-background {
    background: rgba(255, 255, 255, 0.9); }
    /* line 202, sass/module/_landing.scss */
    #section3 .uk-overlay-background ol {
      font-size: 18px;
      color: #000000; }
    /* line 207, sass/module/_landing.scss */
    #section3 .uk-overlay-background p {
      color: #000000;
      display: flex;
      align-items: center;
      justify-content: center; }
      /* line 223, sass/module/_landing.scss */
      #section3 .uk-overlay-background p div {
        text-align: justify; }

/* line 238, sass/module/_landing.scss */
#section4 .uk-margin {
  margin-bottom: 25px; }
/* line 243, sass/module/_landing.scss */
#section4 h3 {
  text-align: center !important;
  font-size: 30px;
  text-rendering: auto;
  margin-top: 0px;
  margin-bottom: 50px;
  display: block;
  line-height: 28px;
  font-weight: 500;
  text-transform: none;
  color: #636873; }
/* line 261, sass/module/_landing.scss */
#section4 p {
  text-align: center;
  margin-top: 30px;
  display: block;
  font-size: 18px;
  font-weight: 300;
  font-family: "Raleway", Helvetica, Arial, sans-serif;
  line-height: 28px; }
/* line 271, sass/module/_landing.scss */
#section4 button {
  display: inline-block;
  padding: 5px 40px;
  font-size: 20px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #f1f1f1;
  background-color: #444;
  border: none;
  border-radius: 15px; }
/* line 287, sass/module/_landing.scss */
#section4 .price-style {
  padding-top: 60px;
  font-family: "Raleway", Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 60px;
  text-align: center !important; }
/* line 295, sass/module/_landing.scss */
#section4 .pricing {
  padding-top: 55px;
  text-align: center;
  margin-top: 30px;
  display: block;
  font-size: 18px;
  font-weight: 300;
  font-family: "Raleway", Helvetica, Arial, sans-serif;
  line-height: 28px; }
/* line 308, sass/module/_landing.scss */
#section4 .button-basic {
  padding-top: 80px; }
/* line 312, sass/module/_landing.scss */
#section4 .button-expedited {
  padding-top: 25px; }
/* line 317, sass/module/_landing.scss */
#section4 .price {
  font-family: "Raleway", Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 60px;
  text-align: center !important; }
/* line 334, sass/module/_landing.scss */
#section4 .uk-panel-title {
  font-size: 50px;
  line-height: 56px;
  font-family: "Raleway", Helvetica, Arial, sans-serif;
  font-weight: 500;
  margin-top: 150px;
  margin-bottom: 150px; }

/* line 348, sass/module/_landing.scss */
#contact h1 {
  font-family: 'PT Serif'; }
/* line 352, sass/module/_landing.scss */
#contact .uk-heading-large {
  font-weight: 400;
  text-transform: none;
  font-size: 72px; }
/* line 357, sass/module/_landing.scss */
#contact .panel-subtitle {
  margin: 30px auto;
  font-family: 'Raleway';
  text-transform: uppercase;
  color: #444444;
  font-size: 19px;
  line-height: 30px; }
/* line 366, sass/module/_landing.scss */
#contact p {
  display: block;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px; }
/* line 373, sass/module/_landing.scss */
#contact h3 {
  font-size: 24px;
  line-height: 32px;
  margin: 0 0 15px 0;
  font-family: 'PT Serif';
  font-weight: 400;
  color: #444444;
  text-transform: none;
  text-rendering: auto; }
/* line 385, sass/module/_landing.scss */
#contact .uk-margin-large {
  margin-top: 50px;
  margin-bottom: 50px; }
/* line 390, sass/module/_landing.scss */
#contact .uk-margin-large-top {
  margin-top: 50px !important; }
/* line 393, sass/module/_landing.scss */
#contact .uk-grid {
  margin-left: -30px; }
/* line 397, sass/module/_landing.scss */
#contact .uk-icon-hover {
  color: #666666; }
/* line 400, sass/module/_landing.scss */
#contact .uk-icon-small {
  font-size: 120%;
  vertical-align: -10%;
  padding-left: 10px; }

@media screen and (max-width: 960px) {
  /* line 414, sass/module/_landing.scss */
  #bento .uk-margin {
    width: 600px; } }
@media screen and (max-width: 768px) {
  /* line 428, sass/module/_landing.scss */
  #contact h1 {
    font-size: 52px !important; }

  /* line 435, sass/module/_landing.scss */
  #bento .uk-margin {
    width: 500px; } }
@media screen and (max-width: 480px) {
  /* line 449, sass/module/_landing.scss */
  #contact h1 {
    font-size: 32px !important; }

  /* line 455, sass/module/_landing.scss */
  #bento .uk-margin {
    width: 200px; }
  /* line 459, sass/module/_landing.scss */
  #bento .uk-navbar {
    padding: 0px 0px; }
    /* line 462, sass/module/_landing.scss */
    #bento .uk-navbar img {
      width: 100px; } }
